{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'chatapp/style.css' %}" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
<script language=javascript>
    setInterval(function(){getMessages()},1000);
    function getMessages() {
        $("#messagesDiv").load("{%  url 'msgs' %}");
    }
</script>

<div id='container'>
    <div id='header'>
    </div>
    <div id="menu">
        <ul>
            <li>User: {{ username }}</li>
            <li><a href="{% url 'index' %}">Strona Główna</a></li>
            <hr />
            {% if logged %}
                <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            {% else %}
                <li><a href="{% url 'loginForm' %}">Zaloguj</a></li>
            {% endif %}
        </ul>
        <hr />
        Zalogowani:
        {% for user in user_list %}
        <ul>
            <li style="list-style: disc;margin-left: 10px">
                <span style="font-style: italic">{{ user }}</span>
            </li>
        </ul>
        {% endfor %}
    </div>
    <div id="content">
        <div id="messagesDiv" style="width: 790px; height: 450px; overflow: scroll">WIADOMOŚCI</div>
        <form action="{% url 'chatuj' %}" method="post">
            {% csrf_token %}
            <p style="margin: 0;"><input type="text" name="message" id="message" maxlength="500" size="81" /></p>
            <p style="margin: 0;text-align: center"><input type="submit" value="Wyślij" /></p>
        </form>
    </div>
</div>